    <div class="log_boxx">
    <div class="log_box">
       
        <hr />
        <form action="" autocomplete="off">
            <label for="emil">Email<input type="email" name="email" id="email"
                    placeholder="leslie@pixellz.io" /></label>
            <label for="password">Password<input type="password" name="password" id="password"
                    placeholder="leslie234%@5@" />
                <i class="far fa-eye" id="changeIcon" onClick="viewPassword()"></i></label>
            <button>Log in</button>
        </form>
        <hr />
        <p>Don't have an account?</p>
        <a href="signup.component.html">Sign up</a>
    </div>
</div>
    


