<div class="log_boxx">
    <div class="log_box">
        <h1 class="font-weight-bolder text-uppercase text-center">Login</h1>
        <hr>
        <p class="text-danger">
            <strong>{{msg}}</strong>
        </p>
        <form (submit)="doLogin(f)" #f="ngForm">
            <label for="emil">Email:<input type="email" name="uemail" class="form-control" name="uemail" ngModel
                    #useremail="ngModel" placeholder="leslie@pixellz.io" />
                <br>
                <p class="alert alert-danger" *ngIf="useremail.errors?.required && useremail.touched">
                    Please Enter Your Email
                </p>
                <p class="alert alert-danger" *ngIf="useremail.errors?.email && useremail.touched">
                    Please Enter Valid Email
                </p>
            </label>
            <label for="password">Password: <input type="password" name="upassword" ngModel #userpassword="ngModel"
                    placeholder="Enter your Password here" required />

            </label>
            <input type="submit" class="btn btn-success text-light" value="Login" [disabled]="f.invalid" /> &nbsp;
        </form>
        <hr />
        <p>Don't have an account?</p>
        <a routerLink="/signup" routerLinkActive="active">Sign up</a>
    </div>
</div>