





  <div class="log_boxx">
  <div class="log_box">
    
    <hr/>
    <form action="" autocomplete="off">
      <label for="text">Name<input type="text" name="text" id="text" placeholder="Leslie Alexander" /></label>
      <label for="emil">Email<input type="email" name="email" id="email" placeholder="example@mail.com" /></label>
      <label for="password">Password<input type="password" name="password" id="password"
          placeholder="at least 8 characters" />
        <i class="far fa-eye" id="changeIcon" onClick="viewPassword()"></i></label>
       <button>Sign up</button>
    </form>
    <hr/>
    <p>Don't have an account?</p>
    <a href="login/login.component.html">Log in</a>
  </div>
</div>
 


